@model ForgotPasswordVM
<h1>Forget Password</h1>


<div class="conatiner">
    <form asp-action="ForgotPassword" asp-controller="auth" method="post">
    
        <div class="mb-3 text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>